.conteinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 50px auto;
    background-color: #fff;
    max-width: 640px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.conteinner h1{
    font-size: 32px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.conteinner input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    color: #333;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 10px;
}

.conteinner button{
    width: 30%;
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #407af8;
    border: 0;
    border-radius: 4px;
    margin-bottom: 10px;
}

.conteinner button:active{
    background-color: #022c86;
}

.conteinner form{
    display: flex;
    width: 80%;
}

